
Kandidaten/obj/Debug/netcoreapp3.1/App.g.i.cs
Kandidaten/obj/Debug/netcoreapp3.1/App.g.i.cs
Kandidaten/obj/Debug/netcoreapp3.1/Kandidaten_MarkupCompile.i.cache
Kandidaten/obj/Debug/netcoreapp3.1/Kandidaten_MarkupCompile.i.lref
Kandidaten/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
